h1 {
    background-color: palevioletred;
    border: 1px solid black;
    padding: 50px;
    width: 300px;
    margin: 100px;
    display: none;
}

span {
    background-color: palevioletred;
    border: 1px solid black;
    padding: 50px;
    width: 500px;
    margin: 50px;
    
    
}

div {
    height: 200px;
    width: 200px;
    background-color: olivedrab;
    border: 1px solid black;
    display: inline-block;
    margin: 50px;
}